*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(18,18,18);
    color: white;
    font-family: 'Lobster', sans-serif;
}

.cart-container {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    background: RGB(26,24,24);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 0px 10px 0px #ccc;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.cart-item-quantity {
    display: flex;
    align-items: center;
    gap: 20px; 
}
.cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px; 
}

.cart-item:hover {
    transform: scale(1.02);
    border-color: #CE5DAE;
}

.cart-item img {
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
}


.cart-item-title {
    font-size: 20px;
    font-weight: bold;
}

.cart-item-price {
    color: #ff4d6d;
    font-weight: bold;
}

.remove-btn {
    background: transparent;
    color: red;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.remove-btn:hover {
    color: #550312;
}

.btn-increment {
    background-color: #ff4d6d;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

.btn-decrement {
    background-color: #ff4d6d;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}
.button-group {
    display: flex;
    justify-content:space-between ;
}

.button-group button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #ff4d6d;
    border: none;
}
.button-group button:hover{
    background-color: #d60c31;
}


